@import './scss/constants.scss';
.body{
    margin: 0;
    font-family: proxima-nova, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
    line-height: 1.25;
    margin: 0;
}

input[type=text]{
    height: 25px;
    margin: 0;
}

@media (max-width: $mobile-resolution) {
    .App{
        overflow-x: hidden;       
    }
}


